/* Master styles */
body {
  /* padding: 0; */
  margin: 0;
  /* box-sizing: border-box; */
  font-family: "Lato", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

/* Nav styles */
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  font-size: 0.98em;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 22px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.nav-link-wrapper > a {
  color: #8a8a8a;
  transition: color 0.5s;
  text-decoration: none;
}

.active-nav-link {
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black !important;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

/* Portfolio styles */

.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.portfolio-item-wrapper {
  position: relative;
}

.portfolio-img-background {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* sự khác nhau giữa display và position
display dành cho container, nó chịu trách nhiệm cho việc hiển thị các item dưới dạng như thế nào
position danh cho items trong container, nó chịu trách nhiệm đặt các container trong display-box ở chỗ nào. */
.img-text-wrapper {
  top: 0px;
  /* nó sẽ truy xuất về position của parent, nếu parent không có thuộc absolute/relative, thì nó sẽ truy xuất theo html page */
  position: absolute;

  display: flex;
  /* liệt kê phần tử logo và text-img trong cùng một cột */
  flex-direction: column;
  /* căn chỉnh logo */
  justify-content: center; /* căn chỉnh theo trục main */
  align-items: center; /*căn chỉnh theo trục cross */
  height: 100%;
  /* căn chỉnh text */
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.logo-wrapper img {
  width: 50%;
  margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
  transition: 1s;
  color: transparent;
}

/* needs to be more specific with selector */
.img-text-wrapper:hover .subtitle {
  /* độ đậm của chữ */
  font-weight: 600;
  color: lightseagreen;
}

.img-darken {
  transition: 1s;
  filter: brightness(10%);
}

/* About page */
.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-img-wrapper img {
  width: 100%;
}

.profile-content-wrapper {
  padding: 30px;
  font-family: "Lato", sans-serif;
}

.profile-content-wrapper h1 {
  color: lightseagreen;
}
